In [14]:
#Muliple Level Of Index
import numpy as np
import pandas as pd
from numpy.random import randn

In [5]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
zip(outside,inside)

In [6]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [10]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [16]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [20]:
df

             A         B
G1 1 -0.068467  0.074797
   2  0.200064 -0.918916
   3 -1.192051  1.966211
G2 1  0.742549 -0.924053
   2 -1.350085  0.562342
   3  1.239552  0.932590

df

In [21]:
df.loc['G1']

          A         B
1 -0.068467  0.074797
2  0.200064 -0.918916
3 -1.192051  1.966211

In [23]:
df.loc['G1'].loc[1]

A   -0.068467
B    0.074797
Name: 1, dtype: float64

In [24]:
df
# here no index names

             A         B
G1 1 -0.068467  0.074797
   2  0.200064 -0.918916
   3 -1.192051  1.966211
G2 1  0.742549 -0.924053
   2 -1.350085  0.562342
   3  1.239552  0.932590

In [26]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1   -0.068467  0.074797
       2    0.200064 -0.918916
       3   -1.192051  1.966211
G2     1    0.742549 -0.924053
       2   -1.350085  0.562342
       3    1.239552  0.932590

In [27]:
#get specific cell
df.loc['G1'].loc[2]['B']

-0.9189163029007211

In [28]:
#get data by cross section, we can get data from G1 and G2
df.xs('G1')

            A         B
Num
1   -0.068467  0.074797
2    0.200064 -0.918916
3   -1.192051  1.966211

In [32]:
#if we want to get row of num 1 in G1 and G2
df.xs(1,level='Num')

               A         B
Groups
G1     -0.068467  0.074797
G2      0.742549 -0.924053